$primary_text_colour: #3c4043;
$accent_colour: #dfe1e5;

* {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

.navbar {
  width: 100%;
  height: 3rem;
  ul {
    margin-top: 1rem;
    font-size: 14px;
  }
  li {
    margin-left: 10px;
    padding: 5px;
    height: 10px;
  }
  li:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
  }
  .primary-ul {
    list-style-type: none;
    display: flex;
    float: left;
    margin-left: 10px;
  }
  .secondary-ul {
    list-style-type: none;
    display: flex;
    float: right;
    margin-right: 20px;

    .app-icon {
      position: relative;

      margin-left: 30px;
    }
    .user-icon {
      position: relative;
      bottom: 0.3rem;
      margin-left: 20px;
    }
  }
}

.google_text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  .google_container {
    position: relative;
    top: 70%;
  }
}

.google_search {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  .google_search_container {
    .search_bar {
      margin: auto;
      margin-top: 1rem;
      width: 584px;
      height: 46px;
      border-radius: 50px;
      border: 1px solid #dfe1e5;
      .search_icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        width: 46px;
      }
    }
  }
  .search_buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .p_text_button {
      color: $primary_text_colour;
      font-weight: 300;
      font-size: 14px;
    }
    .google_search_button {
      padding: 10px;
      margin-right: 10px;
      background-color: #f8f9fa;
    }
    .lucky_button {
      padding: 10px;
      margin-left: 10px;
      background-color: #f8f9fa;
    }
  }
}

.footer {
  position: relative;
  top: 13.3rem;
  width: 100%;
  height: 80px;
  .footer-primary {
    width: 100%;
    height: 50%;
  }
  .footer-secondary {
    width: 100%;
    height: 50%;
  }
  .p_text_footer {
    position: relative;
    color: rgba(0, 0, 0, 0.54);
    top: 10px;
    margin-left: 30px;
  }
  .footer_ul {
    display: flex;
    list-style-type: none;
    margin-left: 15px;
    .footer_li {
      margin-left: 20px;
      color: rgba(0, 0, 0, 0.54);
      text-align: center;
      position: relative;
      top: 10px;
    }
  }
}
